url = "/"
layout = "default"
title = "CONCERTO"
is_hidden = 0
meta_description = "The CONCERTO project"
robot_index = "index"
robot_follow = "follow"

[jumbotron principles]
jumbotron = "principles"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron vision]
jumbotron = "vision"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron mission]
jumbotron = "mission"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron goals]
jumbotron = "goals"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron numbers]
jumbotron = "numbers"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Articles\Models\Article;
use Carbon\Carbon;
use Pensoft\Partners\Models\Partners as Partner;


function onStart(){

    $this['highlights'] = Article::news()->where('published', 'true')->orderBy('published_at', 'desc')->take(3)->get()->map(function($item){
        $item->href = $item->slug;
        return $item;
    });

    $this['consortium_partners'] = Partner::where('type', 1)->get();


}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <div class="homepage_tabs">
                <div>
                    <h2>Principles</h2>
                    <a class="" href="#vision">Vision</a>
                    <a class="" href="#mission">Mission</a>
                    <a class="" href="#goals">Goals</a>
                </div>
                {% component 'principles' %}
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="vision" id="vision">
                <div class="row middle-xs">
                    <div class="col-md-3 col-xs-12"><h1>Vision</h1></div>
                    <div class="col-md col-xs-12"><a class="button" href="{{'about'|page}}">Convergance</a></div>
                </div>
                {% component 'vision' %}
            </div>
            <div class="mission" id="mission">
                <div class="row middle-xs">
                    <div class="col-md-3 col-xs-12"><h1>Mission</h1></div>
                    <div class="col-md col-xs-12"><a class="button" href="{{'about'|page}}">Precision</a></div>
                </div>
                {% component 'mission' %}
            </div>
            <div class="goals" id="goals">
                <div class="row middle-xs">
                    <div class="col-md-3 col-xs-12"><h1>Goals</h1></div>
                    <div class="col-md col-xs-12"><a class="button" href="{{'about'|page}}">Advancement</a></div>
                </div>
                {% component 'goals' %}
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row middle-xs between-xs">
        <div class="col-xs-12 center-xs consortium_partners">
            <div id="slick">
                {% for c in consortium_partners %}
                <div class="slide">
                    <div class="partner_logo"><a href="{{c.instituion_url}}" target="_blank">
                        <img alt="{{ c.instituion }}" src="{{c.cover.thumb(auto,87,{'mode':'crop'})}}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Numbers -->
<div class="container-fluid project-numbers-container">
    {% component "numbers" %}
</div>


<!-- News -->
{% if highlights.count %}
<!-- latest from news -->
<div class="container subcontainer">
    <div class="row">
        <div class="col-md-6 col-xs-12 news_left_col">
            <div>
                <h1>Latest news</h1>
                <p>Comprehensive Updates on<br>
                    CONCERTO’s Recent Achievements</p>
            </div>
            <div class="news_list_homepage">
                {% for highlight in highlights %}
                    <div class="">
                        <a class="row news-item" href="#{{highlight.slug}}">
                            {% set numberOfWords = highlight.content|striptags|split(' ')|length %}
                            {% set readtime = (numberOfWords / 250) %}
                            <div class="col-md-4 col-xs-12 news-category">{{highlight.categories[0].name}}</div>
                            <div class="col-md-3 col-xs-12 news-date">{{ highlight.published_at|date('d M Y') }}</div>
                            <div class="col-md-3 col-xs-12 news-date">{{ readtime|round }} Min Read</div>

    <!--                        <div class="col-md-12 col-xs-12 news-title">{{ highlight.title|length > 100 ? highlight.title|slice(0, 100)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlight.title|replace({"&nbsp;": " ", ".": ". "})  }}</div>-->
                            <div class="col-md-12 col-xs-12 news-title">{{ highlight.title|raw }}</div>
                        </a>
                        <a href="{{'news'|page}}/{{highlight.slug}}" class="read-more">Read More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 col-xs-12 news_right_col">
            {% for highlight in highlights %}
                <div id="{{highlight.slug}}">
                    <img alt="{{ highlight.title }}" src="{{highlight.cover.thumb(550,645,{'mode':'crop'})}}">
                    <div class="news-desc">
                        <div>{{ highlight.content|raw  }}</div>
                        <a href="{{'news'|page}}/{{highlight.slug}}" class="read-more">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}


<div class="container subscribe-container">
    <div class="row middle-xs">
        <div class="col-md-5 col-xs-12 middle-xs"><div class="newsletter_title">Newsletter</div></div>
        <div class="col-md-7 col-xs-12 middle-xs">Subscribe to our Newsletter to Get the Latest Updates on Mission Projects & Initiatives
        <br>
            <div class="subscribe-btn"><a href="{{this.theme.subscribe}}" target="_blank" class="btn btn-primary">Subscribe <i></i></a></div>
        </div>
    </div>
</div>