url = "/"
layout = "default"
title = "CONCERTO"
is_hidden = 0
meta_description = "The CONCERTO project"
robot_index = "index"
robot_follow = "follow"

[jumbotron principles]
jumbotron = "principles"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron vision]
jumbotron = "vision"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron mission]
jumbotron = "mission"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron goals]
jumbotron = "goals"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron numbers]
jumbotron = "numbers"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Articles\Models\Article;
use Carbon\Carbon;
use Pensoft\Partners\Models\Partners as Partner;


function onStart(){

    $this['highlights'] = Article::news()
    ->where('published_at', '<=', 'now')
    ->where('published', 'true')
->orderBy('published_at', 'desc')->take(3)->get()->map(function($item){
        $item->href = $item->slug;
        return $item;
    });

    $this['consortium_partners'] = Partner::where('type', 1)->get();


}
?>
==
{# Principles / Vision / Mission / Goal tabs were moved into the homepage hero (partials/site/header.htm) #}

<div class="container-fluid">
    <div class="row middle-xs between-xs">
        <div class="col-xs-12 center-xs consortium_partners">
            <div id="slick">
                {% for c in consortium_partners %}
                <div class="slide">
                    <div class="partner_logo"><a href="{{c.instituion_url}}" target="_blank">
                        <img alt="{{ c.instituion }}" src="{{c.cover.thumb(auto,87,{'mode':'crop'})}}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Numbers -->
<div class="container-fluid project-numbers-container">
    {% component "numbers" %}
</div>


<!-- News -->
{% if highlights.count %}
<!-- latest from news -->
<div class="container subcontainer latest-news-home">
    <h2 class="latest-news-title">Latest News</h2>
    <div class="news_cards">
        {% for highlight in highlights %}
        <a class="news_card" href="{{'news'|page}}/{{highlight.slug}}">
            <div class="news_card_image">
                <img alt="{{ highlight.title|striptags }}" src="{{highlight.cover.thumb(766,884,{'mode':'crop'})}}">
            </div>
            <div class="news_card_text">
                <span class="news_card_date">{{ highlight.published_at|date('d F Y') }}</span>
                <h3 class="news_card_title">{{ highlight.title|raw }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endif %}


<div class="container subscribe-container">
    <div class="row middle-xs">
        <div class="col-md-5 col-xs-12 middle-xs"><div class="newsletter_title">Newsletter</div></div>
        <div class="col-md-7 col-xs-12 middle-xs">Subscribe to our newsletter to get the latest updates and milestones from CONCERTO
            <br>
            <div class="subscribe-btn"><a href="{{this.theme.subscribe}}" target="_blank" class="btn btn-primary">Subscribe <i></i></a></div>
        </div>
    </div>
</div>