
{% for partner in partners %}
<div class="col-md-6 col-xs-12">
    <div class="partner-item">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
    <!--            <div class="partner_cover">-->
                    <img src="{{partner.cover.path}}">
    <!--            </div>-->
            </div>
            <div class="col-md-8 col-xs-12 start-md center-xs instituion-title">{{partner.instituion}}</div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
    <!--            <div class="partner_info">-->

                    <div class="partner_description">
                        {{partner.content|raw}}
                    </div>
                    <p><a class="read-more" onclick="toggleExpandReadMore(this);">Read more</a></p>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 start-md center-xs">
                            <a href="{{partner.instituion_url}}" class="btn btn-primary website">
                                Visit website
                            </a>
                        </div>
                    </div>

    <!--            </div>-->
            </div>
        </div>
    </div>
</div>
{% endfor %}
